[Authentication]
## First you need to connect your account through the developer API, you may need to request this from Lifx
#  You can then get your API key by going to https://cloud.lifx.com/settings it is 64 characters long
#  You can revoke that key at any time
apiKey = #KEY

[Bulbs]
## Set the lights you wish to modify during play back:
#  all = all lights in your cloud account
#  group = a defined group of lights where 'set' is the name of the group i.e. Living Room
#  label = the name of a single bulb where 'set' is the name of the bulb i.e. Hall North
type = group
set = LoungeRoom

[Scenes]
movie_scene = Movie
tv_scene = TV
pause_scene = Pause

[Delay]
## All delay settings are set in seconds. Default delay is 1 second
MovieStart = 15
TVStart = 15
Pause = 5
Resume = 5
EndPlay = 10

[Logging]
## Trace to enable logging any other value to disable.
Level = trace
